<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Echo</title>
    <link rel="stylesheet" href="/static/css/build/tailwind.css">
    <script src="/static/js/initialThemeLoad.js"></script>

    <script
      type="module"
      src="/static/js/datastar.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <input
      type="text"
      class="input"
      required
      placeholder="Id"
      data-bind:id
    >
    <input
      type="search"
      class="input"
      required
      placeholder="Search"
      data-bind:echo
      data-on:input__debounce.200ms="@get('/fragmant/echo')"
      data-on:datastar-fetch="evt.detail.type === 'error' && console.log('Fetch error encountered')"
      data-indicator:fetching
    >

    <div data-attr:id="$id">Default</div>
  </body>
</html>
