<!DOCTYPE html>
<html lang="en" data-theme="chillecho">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    > -->

    <title>Index</title>
    <link rel="stylesheet" href="/static/build/tailwind.css">
  </head>
  <body>
    <ul class="p-4">
      <li><a href="/toast/variant/1">/toast/variant/1</a></li>
    </ul>

    <ul class="p-4">
      <li><a href="/login/variant/1">/login/variant/1</a></li>
      <li><a href="/login/variant/2">/login/variant/2</a></li>
      <li><a href="/login/variant/3">/login/variant/3</a></li>
    </ul>

    <ul class="p-4">
      <li><a href="/register/variant/1">/register/variant/1</a></li>
      <li><a href="/register/variant/2">/register/variant/2</a></li>
      <li><a href="/register/variant/3">/register/variant/3</a></li>
    </ul>

    <ul class="p-4">
      <li><a href="/echo">/echo</a></li>
    </ul>
  </body>
</html>
